body {
    background-color: #f5e5ca;
}

h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
}

.headerContacto {
    background-color: brown;
    color: white;
    padding: 20px;
    text-align: center;
}

.contactoContainer {
    width: 80%;
    margin: 20px auto;
}

.infoContacto, .formuContacto {
    margin-bottom: 30px;
}

.formuContacto {
    display: grid;
    grid-gap: 15px;
}

.inputContacto, .txtAreaContacto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

.botonEnvioForm {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.botonEnvioForm:hover {
    background-color: orange;
}


